@import './base.css';

#app {
  max-width: 1600px;
  margin: 0 auto;
  font-weight: normal;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #E5E5E5;
  color: #FFFFFF;
}
p{
  font-family: 'Open Sans', sans-serif;
}

a,
.green {
  text-decoration: none;
  color: rgb(235, 235, 235);
  transition: 0.4s;
}
